$header-grey: #9f9fab;
$header-grey-dark: #3e3e46;
$background-color: #e6e6fa;
$background-color-dark: #191970;
$main-text: #191970;
$main-text-dark: #e6e6fa;
$emphasis: #ff6060;
$secondary-text: #cc2500;
