$header-grey: #9f9fab;
$header-grey-dark: #3e3e46;
$background-color: #e6e6fa;
$background-color-dark: #4545b4;
$main-text: #191970;
$main-text-dark: #d0d0e2;
$emphasis: #ff6060;
$secondary-text: #cc2500;
$secondary-text-dark: rgb(201, 83, 56);
