@import 'colors';
@import 'dark';
@import 'projects';
// $header-grey: #9f9fab;
// $background-color: #e6e6fa;
// $background-color-dark: #191970;
// $main-text: #191970;
// $emphasis: #ff6060;
// $secondary-text: #cc2500;

* {
  font-family: Inter;
}

header {
  background-color: $header-grey;
  font-size: 32px;
  color: $main-text;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      li {
        display: block;
        img {
          border: 2px solid $main-text;
          transition: border-color 0.3s linear;
        }
        img:hover {
          border: 2px solid $emphasis;
        }
      }
    }
    .mode {
      width: 50px;
      height: 50px;
    }
  }
}

main {
  background-color: $background-color;
  height: 100%;
}

#upper {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
#left {
  width: 30vw;
  #sebastien-etievant {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: $main-text;
    h1,
    h2 {
      font-size: 40px;
      line-height: 20px;
    }
    img {
      width: 145px;
      height: 152px;
      margin-top: 15px;
      border: 2px solid $main-text;
      border-radius: 10px;
    }
  }
  p {
    font-size: 32px;
    color: $main-text;
  }
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    width: 272px;
    height: 61px;
    background-color: $emphasis;
    border-radius: 15px;
    color: white;
    font-size: 32px;
    border: 4px solid $emphasis;
    transition: border-color 0.3s linear;
  }

  button:hover {
    width: 272px;
    height: 61px;
    background-color: $emphasis;
    border-radius: 15px;
    color: white;
    font-size: 33px;
    border: 3px solid $main-text;
  }
}

#right {
  color: $secondary-text;

  h1 {
    font-size: 36px;
  }
  li {
    font-size: 32px;
  }
  .icons {
    display: flex;
    list-style: none;
  }
}
