@media (max-width: 1042px) {
  #skills {
    button {
      width: 213px;
    }
  }
}
@media (max-width: 998px) {
  #skills {
    button {
      width: 150px;
      font-size: 20px;
    }
  }
}
@media (max-width: 955px) {
  #upper {
    flex-direction: column;
  }
  #left {
    width: 100% !important;
  }
  #intro {
    width: 100%;
  }
  .menu {
    flex-direction: row !important;
    flex-wrap: wrap;
    .arrows {
      display: none;
    }
  }
}
@media (max-width: 767.98px) {
  #upper {
    flex-direction: column;
  }
  #left {
    width: 100%;
    p {
      width: 90%;
    }
  }
}

@media (max-width: 513px) {
  #sebastien-etievant {
    img {
      width: 10em !important;
      height: 11em !important;
    }
  }
  .item a {
    width: 250px !important;
    height: 176px !important;
  }
  .item a img {
    width: 250px !important;
  }
  .flags img {
    width: 33px;
  }
  #header {
    a {
      font-size: 20px;
    }
  }
}
