@import 'colors';

#projects {
  background-color: $background-color;
  padding: 1px 20px;
  h1 {
    font-size: 36px;
    color: $emphasis;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
}
#project {
  display: flex;
  background-color: $background-color;
  padding: 20px;
  .right {
    padding: 0px 20px;
    color: $main-text;
    h1 {
      font-size: 36px;
      margin: 0px;
    }
  }
}
