@import 'colors';

#projects {
  background-color: $background-color;
  padding: 1px 1px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    img {
      border: 3px solid $emphasis;
      border-radius: 15px;
    }
  }
}
